#define VERSION_STR    "2020.1216.0.900"
#define MAJOR_VERSION  2020
#define MINOR_VERSION  1216
#define MICRO_VERSION  0
#define NANO_VERSION   900

1 VERSIONINFO
FILEVERSION     MAJOR_VERSION,MINOR_VERSION,MICRO_VERSION,NANO_VERSION
PRODUCTVERSION  MAJOR_VERSION,MINOR_VERSION,MICRO_VERSION,NANO_VERSION
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Department of Earth Sciences, NCKU"
      VALUE "FileDescription", "Severnal Tools about Time Series Process (compiled by GNU Fortran and built by GNU AutoTools)"
      VALUE "FileVersion", VERSION_STR
      VALUE "LegalCopyright", "Seismology Lab, Department of Earth Sciences, NCKU"
      VALUE "ProductName", "Time Series Process Toolchain"
      VALUE "ProductVersion", VERSION_STR
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
