1 VERSIONINFO
FILEVERSION     2019,9,11,0
PRODUCTVERSION  2019,9,11,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Department of Earth Sciences, NCKU"
      VALUE "FileDescription", "Severnal Tools about Time Series Process (compiled by GNU Fortran and built by GNU AutoTools)"
      VALUE "FileVersion", "@VERSION"
      VALUE "LegalCopyright", "Seismology Lab"
      VALUE "ProductName", "Time Series Process Toolchain"
      VALUE "ProductVersion", "2019.911.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
